// General Font Style
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "Source Serif Pro", serif;
}

html p {
  font-size: 1.2em;
  margin-bottom: .5em;
}

li {
  font-size: 1.2em;
}

// Color Scheme
.font-white {
  color: #f7f9fb;
}

.font-black {
  color: #101419;
}

.font-grey {
  color: #dadde6;
}

.font-blue {
  color: #102e5a;
}

.font-lt-blue {
  color: #4f83a5;
}

.font-purple {
  color: #54428e;
}